.btn {
    background-color: var(--clr-brand);
    font-size: var(--fs-400);
    font-weight: 600;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 0.8rem;

    &.icon {
        padding: 0.7rem 1.4rem;
        gap: 0.4rem;
    }

    &.light {
        background: var(--clr-light-600);
        color: var(--clr-dark);
    }

    &.gradient {
        background-color: linear-gradient(99.53deg, #FF5733 0.25%, #FD4C26 46.18%, #FA8D76 97.15%);
    }

    &.accent {
        color: var(--clr-brand);
        background-color: hsla(11, 100%, 60%, 0.15);
    }

    // &.gradient-border {
    //     position: relative;
        
    //     img, span {
    //         z-index: 2;
    //     }

    //     &::before {
    //         content: "";
    //         position: absolute;
    //         height: 100%;
    //         width: 100%;
    //         background: linear-gradient(99.53deg, #FF5733 0.25%, #FD4C26 46.18%, #FA8D76 97.15%);
    //         border-radius: 6px;
    //         z-index: 1;
    //         transform: scale(1.1);
    //     }
    // }
}