.story {
    display: inline-flex;
    
    &__topic {
        align-self: flex-start;
        color: $color-blue;
        padding: 0.5rem;
        background-color: rgba($color-blue, $alpha: 0.1);
        border-radius: 0.4rem;
    }

    &__title {
        font-size: 2.4rem;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 20px;
        color: rgba($color-primary, $alpha: 0.7);

        &__avatar {
            height: 4rem;
            width: 4rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: fill;
            }
        }

        &__name {
            font-weight: bold;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // featured layout
    &.featured {
        display: flex;
        width: 100%;
        position: relative;
        height: 400px;
        margin-bottom: 4rem;

        .story__img {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1.5rem;
            }
        }

        .story__title {
            font-size: 3.2rem;
        }
        
        .story__info {   
            position: absolute;
            left: 5rem;
            bottom: 5rem;
            color: $color-light;
            gap: 2rem;
        }

        .story__topic {
            color: $color-light;
            background-color: rgba($color-blue, $alpha: 1);
            border-radius: 0.4rem;
            font-size: 1.4rem;
        }

        .author {
            color: $color-light;
        }
    }

    // Vertical layout
    &.vertical {
        flex-direction: column;

        .story__img {
            img {
                width: 100%;
                max-height: 20rem;
                object-fit: cover;
            }
        }
    }

    // Horizontal
    &.horizontal {
        flex-direction: row;

        .story__img {
            img {
                max-width: 20rem;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &.vertical, &.horizontal {
        padding: 1rem;
        border: 1px solid $color-grey;
        border-radius: 1rem;
        gap: 1.5rem;
    }
}