.event {
    border: 1px solid hsla(215, 35%, 95%, 1);
    background-color: var(--clr-light);
    padding: 1.6rem 1.9rem;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid hsla(213, 33%, 95%, 1)
    }

    &__header-content {
        display: flex;
        gap: 1.2rem;
    }

    &__icon {
        align-self: flex-start;
    }

    &__tags {
        display: flex;
        gap: 1rem;
        font-size: var(--fs-300);
        line-height: 2.4rem;
        margin-top: 1rem;

        span {
            padding: 0 0.8rem;
            background: hsla(142, 58%, 94%, 1);
            border-radius: 4px;
        }
    }

    &__address {
        display: flex;
        gap: 1.2rem;
        font-size: var(--fs-300);
    }

    &__instructor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 0;
        border-bottom: 1px solid hsla(213, 33%, 95%, 1);

        .instructor {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__timing {
        display: flex;
        justify-content: space-between;
        padding: 1.25rem 0;
        border-bottom: 1px solid hsla(213, 33%, 95%, 1);

        .date, .start, .duration {
            display: flex;
            flex-direction: column;
        }

        .value {
            line-height: 2rem;
        }

        .title {
            font-size: var(--fs-300);
            color: hsla(0, 0%, 0%, 0.35);
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 0 0 0;

        .btn {
            font-weight: 500;
            padding: 0.9rem 3.8rem;
            border-radius: 3.8rem;
        }
    }

    &__price {
        font-size: var(--fs-500);
        font-weight: 600;
    }
}