@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-400);
  color: var(--clr-dark);
  min-height: 100vh;
}

h1 {
  font-size: var(--fs-700);
  font-weight: 700;
  line-height: 3.53rem;
}

h2 {
  font-size: var(--fs-600);
  font-weight: 500;
  line-height: 1.8rem;
}

.card_heading {
  font-size: var(--fs-500);
  font-weight: 700;
  line-height: 2.52rem;
}
