@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-400);
  color: var(--clr-dark);
  min-height: 100vh;
}
